<ng-container *ngIf="products.length!=0">
    <div class="container">
        <div class="card-product">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>SR.NO</th>
                        <th>Name</th>
                        <th>Image</th>
                        <th>Descriptiuon</th>
                        <th>price</th>
                        <th>Total</th>
                        <th>action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of products,let i=index">
                        <td>{{i+1}}</td>
                        <td>{{item.name}}</td>
                        <td><img style="width: 200px;height:200px;"src={{item.image}} alt=""></td>
                        <td>{{item.description}}</td>
                        <td>{{item.price}}</td>
                        <td>{{item.total}}</td>
                        <td><button (click)="removeProduct(item)" class="btn btn-danger"><i class="fas fa-trash"></i></button></td>
                    </tr>
                    <tr>
                        <td colspan="4"></td>
                        <td><button class="btn btn-danger"(click)="removeAllProducts()">Empty Cart</button></td>
                        <td><button class="btn btn-warning" routerLink="/products">Shop More</button></td>
                        <td><button class="btn btn-primary">Check Out</button></td>
                        <td><strong>Grand Total: Rs{{allProducts}}</strong></td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>    
</ng-container>

<ng-container *ngIf="products.length==0">
    <div class="container">
        <div class="card">
            <h4 class="cart-title">My Cart</h4>
            
        </div>
        <div class="center">
            <img src="assets/images/emptycart.jpg" alt="emptycart">
            <h5>Your Cart is empty!</h5>
            <h6>Add items to it now</h6>
            <button routerLink="/products" class="btn btn-primary">Shop Now</button>
    
        </div>
    
    </div>
    
</ng-container>



