.brown{
    background: #696969;
}
.form-control{
    border-radius:5px;
    margin-left:100px;
    margin-top: 12px;
    width:450px;
}
.search-icon{
    z-index:10;
    position:absolute;
    right:56%;
    top:42px;
    color: black;
}
.location1{
    margin-left: 550px;
    margin-right:30px;
}

.location2{
    margin-right:100px;
}
