<header>
    <div class=" brown navbar navbar-dark shadow-sm">
        <div class="navbar-brand align-item-center d-flex">
            <strong><h1>AMIGO</h1></strong>
        
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search product">
                
            </div>
            <span> <i class="fas fa-search search-icon fa-lg"></i></span>
        
            <button routerLink="cart" class="btn location1">
                <i style="font-size:30px;"class="fas fa-cart-plus"></i>
                <div class="badge bg-danger">{{badge}}</div>
            </button>
            <button routerLink="sign" class="btn location2">
                <i style="font-size:30px;"class="fa fa-sign-out" aria-hidden="true"></i>
                
            </button>
        </div>
    </div>
</header>
